[repositories]
{% if repositories and repositories|length > 0 %}
{% for repo in repositories %}
{{ repo.name }}: {{ repo.url }}
{% endfor %}
{% else %}
# Default SBT repositories
local
maven-central: https://repo1.maven.org/maven2/
{% endif %}