# Cargo configuration
{% if repositories and repositories|length > 0 %}
[source.crates-io]
replace-with = "custom"

[source.custom]
registry = "{{ repositories[0].url }}"

{% if repositories[0].auth %}
[registries.custom]
token = "{{ repositories[0].auth }}"
{% endif %}
{% else %}
# Using default crates.io registry
[source.crates-io]
registry = "https://github.com/rust-lang/crates.io-index"
{% endif %}