// Gradle init script for repository configuration
allprojects {
    repositories {
{% if repositories and repositories|length > 0 %}
{% for repo in repositories %}
        maven {
            name = '{{ repo.name }}'
            url = '{{ repo.url }}'
{% if repo.auth %}
            credentials {
                username = '{{ repo.auth.username }}'
                password = '{{ repo.auth.password }}'
            }
{% endif %}
        }
{% endfor %}
{% else %}
        // Default repositories
        mavenCentral()
        google()
{% endif %}
    }
}